# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Plugins
!web/app/plugins/elementor-pro

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

web/app/themes/motivo.com/.cache-loader
web/app/themes/motivo.com/node_modules
